body{

    background-color: #A589D1;
;
}
#display{
    font-size: 2rem;
}

table, td{
    border:1px solid;
    border-width: medium;
    font:2rem;
}

table{
    width: 30rem;
    height: 20rem;
    margin:auto;
     text-align: center;
     font-weight: bold;
     
}
div{
    text-align: center;
    
}

button{
    background-color: #D8CCEB;
    margin:auto;
        border-radius: 8px;
    border-color: black;
  border-style: solid;
     width: 7rem;
    height: 1.5rem;
    text-align: center;

}


  .parent-container {
      display: flex;
      gap: 1rem;
        justify-content: center;

    }